.navbar-nav a.active {
  border-bottom: 3px solid #005eb8;
}

.navbar-nav a {
  font-size: 14px;
}

.sosmed ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.sosmed li {
  float: right;
}

.sosmed li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  color: black;
}

.index-content-dua a:hover {
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.2);
}

#brandsid:hover .imagebrand1 {
  margin-bottom: 10px;
}

.button-brand:hover img {
  filter: drop-shadow(1px 1px 5px #005eb8);
}

.button-media:hover img{
  filter: drop-shadow(1px 1px 5px #005eb8);
}

#brandsid .imagebrand1{
}

#brandsid .imagebrand2{
}

#brandsid .imagebrand3{
}

.imagebrand1:hover{
  filter: drop-shadow(1px 1px 6px gray);
}

.imagebrand2:hover{
  filter: drop-shadow(1px 1px 6px gray);
}

.imagebrand3:hover{
  filter: drop-shadow(1px 1px 6px gray);
}

.button-brand {
  position: relative;
  text-align: center;
  color: white;
}

.button-media {
  position: relative;
  text-align: center;
  color: white;
}

/* Mobile Screen */
@media only screen and (max-width: 600px) {
  .content-satu img {
    width: 100px;
    height: 100px;
  }

  .content-dua img {
    width: 100px;
    height: 100px;
  }

  .content-dua p {
    font-size: 15px;
    text-align: justify;
  }

  .content-dua a img {
    width: 100%;
    height: auto;
  }

  .button-brand a img {
    width: 50%;
    height: auto;
  }

  .content-tiga a img {
    margin-top: 15px;
    width: 50%;
    height: 50px;
  }

  .content-dua br {
    display: none;
  }

  .brand-content-satu h4 {
    font-size: 12px;
  }

  .brand-content-satu p {
    display: none;
  }

  .content-dua p {
    font-size: 14px;
  }

  .tentang-kami-content-satu p {
    text-align: justify;
    font-size: 14px;
  }

  .tentang-kami-content-dua p {
    text-align: justify;
    font-size: 14px;
  }

  .tentang-kami-content-tiga p {
    text-align: justify;
    font-size: 14px;
  }

  .tentang-kami-content-tiga img {
    margin-top: 40px;
  }

  .tentang-kami-content-dua h1 {
    font-size: 22px;
    font-weight: bold;
  }

  .tentang-kami-content-tiga h1 {
    font-size: 22px;
    font-weight: bold;
  }

  .tentang-kami-content-tiga h4 {
    font-size: 16px;
    font-weight: bold;
  }

  .content-satu h1 {
    font-size: 24px;
  }

  .banner-produk-baru img {
    margin-top: 70px;
    width: 80%;
    height: 80%;
  }

  .content-household img {
    width: 100%;
    height: auto;
  }

  .content-household {
    margin-top: 20px;
  }

  .content-childrentoilet a img {
    width: 50%;
    height: auto;
    margin-top: 30px;
  }

  #footer-childrentoilet {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .content-babytoilet a img {
    width: 50%;
    height: auto;
    margin-top: 30px;
  }

  #footer-babytoilet {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .content-adulttoilet a img {
    width: 50%;
    height: auto;
    margin-top: 30px;
  }

  #footer-adulttoilet {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .d-flex {
    margin-top: -20px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: myFirstFont;
    font-size: 16px;
  }

  .centered-media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: myFirstFont;
    font-size: 14px;
    margin-top: 5px;
  }

}

/* Desktop Screen */
@media only screen and (min-width: 992px) {
  .tentang-kami-content-empat img {
    width: 50%;
    height: 50%;
  }

  /*
  * {
    background-color: aqua;
  }
    */

  .tentangkamudesc p {
    margin-left: 150px;
    margin-right: 150px;
  }

  .berikutadalah p {
    margin-left: 150px;
    margin-right: 150px;
  }

  .article1 h4 {
    text-align: center;
  }

  .banner-article1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
  }

  .artikel-content-satu {
    margin-left: 250px;
    margin-right: 250px;
  }

  #produkbarufooter {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: myFirstFont;
    font-size: 28px;
  }

  .centered-media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: myFirstFont;
    font-size: 24px;
  }
}

/* Tablet Screen */
@media only screen and (max-width: 800px) {
  .banner-produk-baru img {
    margin-top: 100px;
    width: 80%;
    height: 80%;
  }

  .content-childrentoilet a img {
    width: 50%;
    height: auto;
    margin-top: 30px;
  }

  #footer-childrentoilet {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .content-babytoilet a img {
    width: 50%;
    height: auto;
    margin-top: 30px;
  }

  #footer-babytoilet {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .content-adulttoilet a img {
    width: 50%;
    height: auto;
    margin-top: 30px;
  }

  #footer-adulttoilet {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #footercopyrightarticle1 {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  .article1 h4 {
    text-align: center;
  }

  .banner-article1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  #faq-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-family: myFirstFont;
    font-size: 18px;
  }

  .centered-media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: myFirstFont;
    font-size: 14px;
  }
}

/* Tablet Screen 
@media only screen and (max-width: 768px) {
  .media-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  *{
    background-color: aqua;
  }
}
  */
